.container {
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.opener-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 17px 93px;
    outline: none;
    cursor: pointer;
    background: #1A866C;
    border-radius: 4px;
}